<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img alt="eStech" src="assets/img/logo.png" style="width:60%" title="eStech">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown" ngbDropdown>
            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <span class="btn btn-success">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                </a>
                <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </div>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown" ngbDropdown>
            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <span class="btn btn-warning">
                    <img height="20" width="20" src="/assets/Scripts/img/ModuleIcons/proc.png"> Supply Chain Management
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-left">
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                </a>
                <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-outline-danger" [routerLink]="['/login']" (click)="onLoggedout()">
                Log Out</a>
        </li>
    </ul>

</nav>