.bg-dark {
    background-color:  #0094ff !important;
}
.nav-link {
   
     padding: 0rem 0rem; 
}
.row {
    
    margin: 0rem;
    
}
.table-responsive {
    display: inline-table;
    padding: 1px;
}
.table th, .table td {
    padding: 0rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}
.pull-right{
    right: 0px;position: absolute;
}
.dropdown-toggle::after {
    display: none;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
    .pull-right{
        right: 0px;position:relative;
    }
  }