.rptlbl {
    text-align:right;
     margin-top:10px;
}
.iframe-container{
    min-height: 100px;
    background:#fff url("https://loading.io/spinners/vortex/lg.vortex-spiral-spinner.gif") no-repeat 50% top !important;
 }