<div class="card mb-3">
  <div class="card-header">
    <span style="font-size:large">Purchase order</span>
    <button class=" btn btn-small btn-outline pull-right" (click)="open(content)">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr class="thclr">
          <th>ID</th>
          <th>Order No</th>
          <th>Supplier Name</th>
          <th>Order Date</th>
          <th>Total Cost</th>
          <th>Total Discount</th>
          <th>Total Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dt of order">
          <td>{{dt.purchase_Order_ID}}</td>
          <td>{{dt.pO_NO}}</td>
          <td>{{dt.supplier_Name}}</td>
          <td>{{dt.pO_Date | date:"dd/MM/yy"}} </td>
          <td>{{dt.total_Cost}}</td>
          <td>{{dt.total_Discount}}</td>
          <td>{{dt.total_Amount}}</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-small btn-warning tip" href="#pnlAdd" data-toggle="modal" (click)="getDetailsByID(dt.purchase_Order_ID)"
                id="edit">
                <span class="fa fa-pencil text-white"></span>
              </a>
              <button class="btn btn-small btn-danger tip" data-original-title="Remove" type="button" value="Delete" (click)="getDetailsByID(dt.purchase_Order_ID)"
                id="remove">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Purchase Order Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-2">
          <span>Date:</span>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input class="form-control" placeholder="dd-mm-yyyy" name="odpkr" [(ngModel)]="pO_Date" id="pO_Date" ngbDatepicker #odpkr="ngbDatepicker">
            <div class="input-group-addon" (click)="odpkr.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <span>Due Date:</span>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="ddtpkr" [(ngModel)]="delivery_Date" id="Due_Date" ngbDatepicker
              #ddtpkr="ngbDatepicker">
            <div class="input-group-addon" (click)="ddtpkr.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <span>Purchase Officer:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="order_Envoy" id="order_Envoy">
              <option *ngFor="let u of users" [value]="u.order_Envoy">{{u.emp_Name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span>Supplier:</span>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <select [(ngModel)]="supplier_ID" (change)="changeSupplier(supplier_ID)" id="supplier_ID" class="form-control">
              <option *ngFor="let s of suppliers" [value]="s.supplier_ID">{{s.supplier_Name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <span>Contact:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select id="ddlcontact" [(ngModel)]="contact_ID" class="form-control">
              <option *ngFor="let c of contacts" [value]="c.contact_ID" [selected]="c.contact_ID">{{c.contact_Name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-striped">
          <thead>
            <tr class="thclr">
              <th>Sr#.</th>
              <th>Item</th>
              <th>Unit Price</th>
              <th>Qty.</th>
              <th>Cost</th>
              <th>Disc. Rate</th>
              <th>Discount </th>
              <th>Net Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of OrderDetails let idx = index">
              <td>{{idx+1}}</td>
              <td>
                <div *ngIf="i.edit_Mode; then selectName else viewName"> </div>
                <ng-template #viewName>
                  <span ng-show="editMode">{{i.item_Name}}</span>
                </ng-template>
                <ng-template #selectName>

                  <select id="itemEdit" class="form-control " [(ngModel)]="newselectedItem" (change)="updateItem(i,newselectedItem.item_Code,newselectedItem.item_Name,newselectedItem.unit_Price)">
                    <option *ngFor="let it of items" [ngValue]="it" [value]="it.item_Code" [selected]="it.item_Code">{{it.item_Name}}</option>
                  </select>

                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectPrice else viewPrice"> </div>
                <ng-template #viewPrice>
                  <span ng-show="editMode">{{i.unit_Price}}</span>
                </ng-template>
                <ng-template #selectPrice>
                  <input type="number" class="form-control" [(ngModel)]="i.unit_Price" />
                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectQty else viewQty"> </div>
                <ng-template #viewQty>
                  <span ng-show="editMode">{{i.quantity}}</span>
                </ng-template>
                <ng-template #selectQty>
                  <input type="number" class="form-control" [(ngModel)]="i.quantity" />
                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectCost else viewCost"> </div>
                <ng-template #viewCost>
                  <span ng-show="editMode">{{i.purchase_Cost}}</span>
                </ng-template>
                <ng-template #selectCost>
                  {{ (i.quantity) * (i.unit_Price)}}
                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectRate else viewRate"> </div>
                <ng-template #viewRate>
                  <span ng-show="editMode">{{i.discount_Rate}}</span>
                </ng-template>
                <ng-template #selectRate>
                  <input type="number" class="form-control" [(ngModel)]="i.discount_Rate" />
                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectDAmount else viewDAmount"> </div>
                <ng-template #viewDAmount>
                  <span ng-show="editMode">{{i.discount_Amount}}</span>
                </ng-template>
                <ng-template #selectDAmount>
                  {{(i.quantity) * (i.unit_Price) * (i.discount_Rate)/100}}
                </ng-template>
              </td>
              <td>
                <div *ngIf="i.edit_Mode; then selectVAmount else viewNAmount"> </div>
                <ng-template #viewNAmount>
                  <span ng-show="editMode">{{i.net_Amount}}</span>
                </ng-template>
                <ng-template #selectVAmount>
                  {{(i.quantity) * (i.unit_Price) - ((i.quantity) * (i.unit_Price) * (i.discount_Rate)/100) }}
                </ng-template>
              </td>
              <td>
                <div class="btn-group" *ngIf="i.edit_Mode; then ok else pencel">
                  <button class="btn btn-small btn-danger tip" data-original-title="Delete user" type="button" value="Delete" id="remove">
                    <span class="fa fa-remove text-white"></span>
                  </button>
                </div>
                <ng-template #ok>
                  <button class="btn btn-small btn-success tip" data-original-title="Quick save" type="button" (click)="changeMode(idx,i,0)"
                    id="update">
                    <span class="fa fa-check text-white"></span>
                  </button>
                </ng-template>
                <ng-template #pencel>
                  <button class="btn btn-small btn-warning tip" data-original-title="Hide" type="button" (click)="changeMode(idx,i,1)" id="edit">
                    <span class="fa fa-pencil text-white"></span>
                  </button>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td> </td>
              <td>

                <select id="item_ID" class="form-control " [(ngModel)]="selectedItem" (change)="changeItem(selectedItem.item_Code)" placeholder="Pick a number">
                  <option *ngFor="let i of items" [ngValue]="i" [selected]="i.item_Code">{{i.item_Name}}</option>
                </select>

              </td>
              <td style="width:10%">
                <input type="number" [(ngModel)]="selectedItem.unit_Price" class="form-control" ng-hide="editMode" (keyup.enter)="addGrid(selectedItem.item_Code,selectedItem.item_Name,selectedItem.unit_Price,Quantity,Discount_Rate)"
                />
              </td>
              <td style="width:10%">
                <input type="number" [(ngModel)]="Quantity" class="form-control" ng-hide="editMode" (keyup.enter)="addGrid(selectedItem.item_Code,selectedItem.item_Name,selectedItem.unit_Price,Quantity,Discount_Rate)"
                />
              </td>
              <td>
                {{ (Quantity) * (selectedItem.unit_Price)}}
              </td>
              <td style="width:10%">
                <input type="number" [(ngModel)]="Discount_Rate" class="form-control" ng-hide="editMode" (keyup.enter)="addGrid(selectedItem.item_Code,selectedItem.item_Name,selectedItem.unit_Price,Quantity,Discount_Rate)"
                />
              </td>
              <td>
                {{(Quantity) * (selectedItem.unit_Price) * (Discount_Rate)/100}}
              </td>
              <td>
                {{(Quantity) * (selectedItem.unit_Price) - ((Quantity) * (selectedItem.unit_Price) * (Discount_Rate)/100) }}
              </td>
              <td class="btn-group">
                <button type="button" class="btn btn-small btn-warning tip" (click)="addGrid(selectedItem.item_Code,selectedItem.item_Name,selectedItem.unit_Price,Quantity,Discount_Rate)"
                  (keyup.enter)="addGrid(selectedItem.item_Code,selectedItem.item_Name,selectedItem.unit_Price,Quantity,Discount_Rate)"
                  data-original-title="Quick save" ng-click="addrow()" id="adds">
                  <span class="fa fa-check text-white"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-1">
          <span>Description:</span>
        </div>
        <div class="col-md-5">
          <fieldset class="form-group">
            <textarea [(ngModel)]="remarks" name="textarea" placeholder="Please text here..." class="form-control" style="height:auto;"
              rows="5"></textarea>
          </fieldset>
        </div>
        <div class="col-md-2">
          <span>Freight Term:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <span align="right" style="font-weight: bold;">
              Total Amount:
            </span>&nbsp;&nbsp;
            <span align="left" style="font-weight: bold;">
              {{TotalCost()}}
            </span>
          </div>&nbsp;
          <div class="row">
            <span align="right" style="font-weight: bold;">
              Total Discount:
            </span>&nbsp;&nbsp;
            <span align="left" style="font-weight: bold;">
              {{ TotalDiscount() }}
            </span>
          </div>&nbsp;
          <div class="row">
            <span align="right" style="font-weight: bold;">
              Net Amount:
            </span>&nbsp;&nbsp;
            <span align="left" style="font-weight: bold;">
              {{ TotalAmount() }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="submitAdd"  type="button" class="btn btn-success" (click)="c('Close click')" (click)="saveOrder(purchase_Order_ID,pO_Date,1,0,order_Envoy,0,0,supplier_ID,contact_ID,delivery_Date,Due_Date,method_Id,payment_ID,frieght_Id,TotalCost(),TotalDiscount(),0,0,freight_Chrgs,TotalAmount(),remarks,1,'New',paymentDate,0,0,0,'New123',0,0,1,1,0)">Save</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
  </div>
</ng-template>