h4, .h4 {
    font-size: .8rem;
    color: white;
}
.modal-header {
    padding: 10px;
    background-color: #44688C;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.card-header {
   
    background-color: #73A4D9;
    color: white;
}
.thclr {
  background-color:gray; 
  color:aliceblue;
}
.dp {
    height: calc(1.75rem + 2px);
}
.theight {
    height: 2px;
}