<div [@routerTransition]>

    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div *ngFor="let c of cards" class="col-xl-2 space">
                    <app-stat [bgClass]="cardColor" [icon]="c.icon" [label]="c.page_Name"></app-stat>
                </div>&nbsp;
               
            </div> 
            
           
        </div>
        <div class="colo-lg-4">

            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Favourites card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>


        </div>
    </div>
    <hr />



</div>