<div [@routerTransition]>

    <hr>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'purple'" [icon]="'fa-truck'" [label]="'Supplier'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'orange'" [icon]="'fa fa-money'" [label]="'Purchase'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'pink'" [icon]="'fa-shopping-cart'" [label]="'Payment'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'green'" [icon]="'fa-support'" [label]="'Customer'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'red'" [icon]="'fa-support'" [label]="'Sale'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'lime'" [icon]="'fa-support'" [label]="'Receipt'"></app-stat>
                </div>
            </div> &nbsp;
            <div class="row">
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'purple'" [icon]="'fa-truck'" [label]="'GRN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'orange'" [icon]="'fa fa-money'" [label]="'GDN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'pink'" [icon]="'fa-shopping-cart'" [label]="'Assembly'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'green'" [icon]="'fa-support'" [label]="'PRN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'red'" [icon]="'fa-support'" [label]="'PRN Invoice'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'lime'" [icon]="'fa-support'" [label]="'Receipt'"></app-stat>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'purple'" [icon]="'fa-truck'" [label]="'GRN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'orange'" [icon]="'fa fa-money'" [label]="'GDN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'pink'" [icon]="'fa-shopping-cart'" [label]="'Assembly'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'green'" [icon]="'fa-support'" [label]="'PRN'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'red'" [icon]="'fa-support'" [label]="'PRN Invoice'"></app-stat>
                </div>
                <div class="col-xl-2 ">
                    <app-stat [bgClass]="'lime'" [icon]="'fa-support'" [label]="'Receipt'"></app-stat>
                </div>
            </div>
        </div>
        <div class="colo-lg-4">

            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>


        </div>
    </div>
    <hr />



</div>