<div class="card text-white " [style.background-color]="bgClass">
    <div class="card-header" style="margin-right: 0px;margin-left: 5px;">
        <div class="row" >            
                <i class="fa {{icon}} fa-5x"  ></i>
        </div>
        <div class="row"> 
                <a href="javascript:void(0)"  class="float-right card-inverse clr">
                        <div class="d-block">{{label}}  </div>
                    </a>
           </div>
          
        </div>
       
    </div>
    

